# Impact of the COVID-19 pandemic on German society between 2019 and 2021.

## Introduction

## Imports

In [2]:
# Importing libraries to handle data
import numpy as np
import pandas as pd

# Importing libraries to plot data
import matplotlib.pyplot as plt

import csv

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Relevant data

In [4]:
# Reading in ALLBUS survey data from 2018 and 2021
df_2018_raw = pd.io.stata.read_stata('data/ZA5217_ALLBUS_2018/ZA5270_v2-0-0.dta', convert_categoricals=False)
df_2021_raw = pd.io.stata.read_stata('data/ZA5280_ALLBUS_2021/ZA5280_v2-0-0.dta', convert_categoricals=False)

# Converting the data to .csv
df_2018_csv = df_2018_raw.to_csv('data/ZA5217_ALLBUS_2018/ZA5270_v2-0-0.csv')
df_2021_csv = df_2021_raw.to_csv('data/ZA5280_ALLBUS_2021/ZA5280_v2-0-0.csv')

# Reading in the .csv file
df_2018 = pd.read_csv('data/ZA5217_ALLBUS_2018/ZA5270_v2-0-0.csv')
df_2021 = pd.read_csv('data/ZA5280_ALLBUS_2021/ZA5280_v2-0-0.csv')

# Show the dimension of the datasets
print("Dimension of 2018: " + str(df_2018.shape))
print("Dimension of 2021: " + str(df_2021.shape))

Dimension of 2018: (3477, 709)
Dimension of 2021: (5342, 545)

In [45]:
# Head of 2018
df_2018.head()

,Unnamed: 0,za_nr,doi,version,respid,eastwest,german,ep01,ep03,ep04,...,xi04,xi05,land,bik,gkpol,xs11,wghtpew,wghtht,wghthew,wghthtew
0,0,5270,doi:10.4232/1.13250,2.0.0 (2019-03-26),1,1,1,1,2,2,...,3,9,90,4,1,2,1.207859,0.870885,1.198172,1.043471
1,1,5270,doi:10.4232/1.13250,2.0.0 (2019-03-26),2,2,1,2,4,3,...,1,3,150,8,6,69,0.544808,0.829881,0.566418,0.470059
2,2,5270,doi:10.4232/1.13250,2.0.0 (2019-03-26),3,1,1,2,2,3,...,5,27,30,9,4,138,1.207859,0.870885,1.198172,1.043471
3,3,5270,doi:10.4232/1.13250,2.0.0 (2019-03-26),4,2,1,2,2,3,...,5,11,120,9,2,74,0.544808,0.829881,0.566418,0.470059
4,4,5270,doi:10.4232/1.13250,2.0.0 (2019-03-26),5,2,1,3,2,3,...,5,12,140,10,7,42,0.544808,0.829881,0.566418,0.470059

In [15]:
# Head of 2021
df_2021.head(100)

,Unnamed: 0,za_nr,doi,version,respid,substudy,mode,splt21,eastwest,german,...,xt10c,xs15,xs16,land,bik,gkpol,wghtpew,wghtht,wghthew,wghthtew
0,0,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),1,1,4,2,1,1,...,1,1,2,80,3,3,1.247175,1.685751,1.235898,2.083416
1,1,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),2,1,4,1,1,1,...,3,1,1,50,3,3,1.247175,1.685751,1.235898,2.083416
2,2,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),3,1,4,1,1,1,...,4,1,1,10,4,3,1.247175,1.685751,1.235898,2.083416
3,3,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),4,1,4,2,2,1,...,5,1,1,160,2,2,0.506620,0.801962,0.529570,0.424695
4,4,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),5,1,4,2,1,1,...,3,1,1,50,7,3,1.247175,0.561917,1.235898,0.694472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),96,2,3,1,2,1,...,5,1,2,112,10,7,0.506620,0.801962,0.529570,0.424695
96,96,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),97,1,4,2,2,1,...,6,1,3,120,9,4,0.506620,1.603923,0.529570,0.849389
97,97,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),98,1,4,2,1,1,...,6,1,1,80,8,5,1.247175,0.842875,1.235898,1.041708
98,98,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),99,2,3,1,2,1,...,2,1,2,130,2,2,0.506620,0.801962,0.529570,0.424695
99,99,5280,https://doi.org/10.4232/1.14002,2.0.0 (2022-09-26),100,1,4,1,1,1,...,6,1,2,80,10,6,1.247175,1.685751,1.235898,2.083416

In [43]:
# Datatypes and count of 2018 dataset
print("Datatypes of 2018:")
df_2018.dtypes.value_counts()

Datatypes of 2018:

int64      682
float64     25
object       2
Name: count, dtype: int64

In [42]:
# Datatypes and count of 2021 dataset
print("Datatypes of 2021:")
df_2021.dtypes.value_counts()

Datatypes of 2021:

int64      518
float64     25
object       2
Name: count, dtype: int64

In [7]:
# Name of the columns considered int datatype in 2018 dataset
pd.set_option('display.max_rows', 10)
df_2018.dtypes[df_2018.dtypes=='int64']

Unnamed: 0    int64
za_nr         int64
respid        int64
eastwest      int64
german        int64
              ...
xi05          int64
land          int64
bik           int64
gkpol         int64
xs11          int64
Length: 682, dtype: object

In [9]:
# Name of the columns considered int datatype in 2021 dataset
pd.set_option('display.max_rows', 10)
df_2021.dtypes[df_2021.dtypes=='int64']

Unnamed: 0    int64
za_nr         int64
respid        int64
substudy      int64
mode          int64
              ...
xs15          int64
xs16          int64
land          int64
bik           int64
gkpol         int64
Length: 518, dtype: object

In [13]:
# List of the missing values in 2018 dataset in descending order. Maximum of 25 columns.
df_2018.isnull().sum().sort_values(ascending=False)

Unnamed: 0    0
pr10          0
sm01          0
sm02          0
sm03          0
             ..
scagec        0
sceduc        0
scde06        0
scde07        0
wghthtew      0
Length: 709, dtype: int64

In [14]:
# List of the missing values in 2021 dataset in descending order. Maximum of 25 columns.
df_2021.isnull().sum().sort_values(ascending=False)

Unnamed: 0    0
misco88       0
fisco08       0
fsiops08      0
fisei08       0
             ..
ca15          0
ca30          0
ca29          0
ca28          0
wghthtew      0
Length: 545, dtype: int64